{% extends "base.html" %}

{% block content %}
    <h2 class="text-center">{{ title }}</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {% if message %}
            <div class="alert alert-danger mt-1" role="alert">
                {{ message }}
            </div>
        {% endif %}
        <div class="mb-4">
            {{ form.team_leader.label(class="form-label") }}
            {{ form.team_leader(class="form-control") }}
            {% for error in form.team_leader.errors %}
                <div class="alert alert-danger mt-1" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="mb-4">
            {{ form.job.label(class="form-label") }}
            {{ form.job(class="form-control") }}
            {% for error in form.job.errors %}
                <div class="alert alert-danger mt-1" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="mb-4">
            {{ form.work_size.label(class="form-label") }}
            {{ form.work_size(class="form-control") }}
            {% for error in form.work_size.errors %}
                <div class="alert alert-danger mt-1" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="mb-4">
            {{ form.collaborators.label(class="form-label") }}
            {{ form.collaborators(class="form-control") }}
            {% for error in form.collaborators.errors %}
                <div class="alert alert-danger mt-1" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        {#  #}
        <div class="mb-4">
            {{ form.start_date.label(class="form-label") }}
            {{ form.start_date(class="form-control") }}
            {% for error in form.start_date.errors %}
                <div class="alert alert-danger mt-1" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="mb-4">
            {{ form.end_date.label(class="form-label") }}
            {{ form.end_date(class="form-control") }}
            {% for error in form.end_date.errors %}
                <div class="alert alert-danger mt-1" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="mb-4">
            {{ form.category.label(class="form-label") }}
            {{ form.category(class="form-control") }}
            {% for error in form.category.errors %}
                <div class="alert alert-danger mt-1" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="mb-4">
            {{ form.is_finished(class="form-check-input") }}
            {{ form.is_finished.label(class="form-check-label") }}
            {% for error in form.is_finished.errors %}
                <div class="alert alert-danger mt-1" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-primary mb-2") }}
    </form>
{% endblock %}